* {
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px brown;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.cell {
  font-size: 10px;
}


/* set alternative images just in case */
.donQ {
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/1016/1016365.svg?token=exp=1611075924~hmac=10ab769f2ed7927bf76040284dc0826a');
  background-size: contain;
}

.sword {
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/2457/2457005.svg?token=exp=1611075981~hmac=bcd6a0bca003ecbab5d89a166e73c7ed');
  background-size: contain;
}

.giant {
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/3497/3497010.svg?token=exp=1611076059~hmac=9ee748cce8ded67c0024cba020cfac91');
  background-size: contain;
}

.explosion {
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/599/599506.svg?token=exp=1611076098~hmac=d4b29636cb352010ebd94502dd947a22');
  background-size: contain;
}

.windmill {
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/3090/3090386.svg?token=exp=1611076360~hmac=b7fe49e212a7406589f07d935798d573');
  background-size: contain;
  /* background-color: blue; */
}

.bomb {
  background-image: url('https://www.flaticon.com/svg/vstatic/svg/3570/3570618.svg?token=exp=1611076255~hmac=4783f82e6b6a497db38b51432a95f7c9');
  background-size: contain;

  /* background-color: purple; */
}



/* #overlay {
  position: fixed; 
  display: none;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
  display: flex;
}

#text {
  background-color: purple;
} */